@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #333;
}

/* HomePage */
.home-h1 {
    font-family: "Playwrite CU", cursive;
    text-decoration: underline;
    text-align: center;
    color: #ffffff;
}

.sorting-options {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sorting-options label {
  font-size: 16px;
}

.sorting-options select {
    border: 1px solid #46464620;
    border-radius: .5rem;
    padding: 10px;
    cursor: pointer;
}

.sorting-options option{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sorting-options .highestRated {
    background-color: darkolivegreen;
}
.sorting-options .newest {
    background-color: darksalmon;
}
.sorting-options .oldest {
    background-color: darkslateblue;
}

.suggestions-container {
    padding: 20px;
}
  
.suggestions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
  
.suggestion-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
  
.suggestion-card:hover {
    transform: scale(1.05);
}
  
.suggestion-username {
    font-family: "Sofadi One", system-ui;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
  
.suggestion-text {
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    margin-bottom: 10px;
    flex-grow: 1;
}
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
    max-height: 50%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}
  
.modal-suggestion-text {
    max-height: 50%;
    overflow-y: auto;
    padding: 10px;
    background-color: #f4f4f4;
}

.modal-suggestion-text p {
    margin-bottom: 1.5em;
    line-height: 1.5;
}

.modal-content button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4285F4;
    color: white;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #357ae8;
}
  
.suggestion-vote {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
  
.suggestion-vote button {
    background-color: #ffffff;
    color: #006f66;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.suggestion-vote button:hover {
    background-color: #006f66;
    color: #ffffff;
}

.delete-button {
    background-color: #ffffff;
    color: #006f66;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 900;
}

.delete-button:hover {
    background-color: #ff0000;
    color: #ffffff;
}

.bottomArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid #33333350;
}

.bottomArea span {
    color: #333;
    font-size: 16px;
    font-weight: lighter;
}

.TimeStamp {
    botder-top: 1px solid #33333350;
    color: #333;
    font-size: 16px;
    font-weight: lighter;
}

  
.suggestion-vote span {
    font-weight: bold;
    color: white;
}

.approval-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.approved-button {
    background-color: green;
    color: white;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.deleted-button {
    background-color: red;
    color: white;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.approval-buttons button:hover {
    background-color: #af35e8;
}


/* PROFIL PAGE */
.user-profile-page {
    padding: 50px;
    border-radius: 15px;
    filter: drop-shadow(10px 5px 0px rgba(0, 0, 0, 0.25));
}

.ProfilePageMain {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.ProfilePageMain h1 {
  color:rgb(255, 255, 255);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.ProfileCard {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 15px;
  max-width: 400px;
  background: #edeffd;
  border-radius: 25px;
  padding: 10px;
}

.userInfo {
  color: darkslategray !important;
  font-weight: 600 !important;
}

.username {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  text-align: center;
  text-transform: capitalize;
}

.email {
  color: var(--color-white);
  margin-top: 5px;
}

.role {
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #888;
}

.system {
  color: rgb(234, 0, 255);
}

.system-message {
  display: flex;
  justify-content: center;
}

.admin {
  color: red;
}

.premium {
  color: #ff6b08;
}

.editor {
  color: purple;
}

.writer {
  color: rgb(35, 87, 82);;
}

.user {
  color: grey;
}

/* SuggerstionForm */
.eklemeForm {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.eklemeUsername {
    font-size: 16px;
    margin-bottom: 8px;
}

.eklemeForm input, 
.eklemeForm textarea, 
.eklemeForm button {
    width: 96%;
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.eklemeForm input, 
.eklemeForm textarea {
    font-size: 16px;
}

.eklemeForm textarea {
    resize: vertical;
    min-height: 150px;
    max-width: 96%;
}

.eklemeForm button {
    background-color: #4285F4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    transition: background-color 0.3s ease;
}

.eklemeForm button:hover {
    background-color: #357ae8;
}

.AdminPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
}

.AdminPage h1 {
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.AdminPage p {
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.AdminPage .true {
    color: green;
}

.AdminPage .false {
    color: red;
}

.AdminPage .ButtonFalse {
    background-color: red;
}

.AdminPage .ButtonTrue {
    background-color: green;
}

.AdminPage button {
    padding: 10px;
    background: #4c6caf;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: grid;
    justify-items: center;
    font-size: 15px;
}


/* Header */
header {
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    background-color: #4285F4;
    color: white;
}

.Header-h1 {
    font-size: 36px;
    margin: 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.about {
    text-align: center;
}

.about h1 {
    margin: 0;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: none;
    margin: 5px 0;
    font-size: 16px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #e8af35;
}

/* Alert */
.Alert{
    color: white;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}

.Alert .GonderimKapali {
    background-color: #f44336;
    width: -webkit-fill-available;
    padding: 5px;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    text-align: center;
    font-size: large;
}

.Alert .GonderimAktif {
    background-color: #4CAF50;
    width: -webkit-fill-available;
    padding: 2px;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    text-align: center;
    font-size: medium;
}

@media (max-width: 768px) {
    .Header-h1 {
        font-size: 32px;
    }

    .suggestions-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  
    .suggestion-card {
        width: 200px;
        height: 150px;
    }
  
    .suggestion-username {
        font-size: 16px;
    }
  
    .suggestion-text {
        font-size: 14px;
    }
  
    .modal-content {
        max-width: 80%;
        max-height: 80%;
    }

    .modal-suggestion-text {
        max-height: 80%;
    }

    .modal-content button {
        padding: 5px 10px;
    }

    .suggestion-vote button {
        padding: 5px 5px;
    }

    .suggestion-vote span {
        font-size: 14px;
    }

    .suggestion-vote {
        margin-top: 5px;
    }

    .suggestion-vote button {
        font-size: 12px;
    }

    .suggestion-vote span {
        font-size: 12px;
    }

    .suggestion-card {
        padding: 10px;
    }

    .suggestion-username {
        margin-bottom: 5px;
    }

    .suggestion-text {
        margin-bottom: 5px;
    }

    .links {
        flex: 2 1 0;
        justify-content: flex-end;
        margin-top: 0;
        gap: 30px;
    }

    /* SuggestionForm */
    .eklemeForm form {
        padding: 15px;
    }

    .eklemeForm label {
        font-size: 14px;
    }

    .eklemeForm input,
    .eklemeForm textarea,
    .eklemeForm button {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .Header-h1 {
        font-size: 28px;
    }
    
    .modal-content {
        max-width: 90%;
        max-height: 90%;
    }

    .modal-suggestion-text {
        max-height: 90%;
    }

    .modal-content button {
        padding: 5px 5px;
    }

    .suggestion-vote button {
        padding: 5px 5px;
    }

    .suggestion-vote span {
        font-size: 12px;
    }

    .suggestion-card {
        padding: 10px;
    }

    .suggestion-username {
        margin-bottom: 5px;
    }

    .suggestion-text {
        margin-bottom: 5px;
    }

    .suggestion-vote {
        margin-top: 5px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }

    .about {
        flex: 1;
        text-align: left;
    }

    .about h1 {
        font-size: 30px;
    }

    .links {
        flex: 2;
        justify-content: flex-end;
        margin-top: 0;
    }

    .links a {
        margin: 0 10px;
        font-size: 18px;
    }

    
    /* SuggestionForm */
    .eklemeForm form {
        padding: 10px;
    }

    .eklemeForm label {
        font-size: 12px;
    }

    .eklemeForm input,
    .eklemeForm textarea,
    .eklemeForm button {
        font-size: 12px;
        padding: 8px;
    }

    .eklemeForm textarea {
        min-height: 120px;
    }
}

@media (max-width: 400px) {
    header {
        flex-direction: column;
        padding: 10px 10px;
    }
    
    .Header-h1 {
        font-size: 22px;
    }
    
    .suggestion-card {
        padding: 5px;
    }

    .suggestion-username {
        font-size: 14px;
    }

    .suggestion-text {
        font-size: 12px;
    }

    .modal-content button {
        padding: 5px 5px;
    }

    .suggestion-vote button {
        padding: 5px 5px;
    }

    .suggestion-vote span {
        font-size: 12px;
    }

    .suggestion-card {
        padding: 5px;
    }

    .suggestion-username {
        margin-bottom: 5px;
    }

    .suggestion-text {
        margin-bottom: 5px;
    }

    .suggestion-vote {
        margin-top: 5px;
    }    
}

@media (max-width: 300px) {
    header {
        flex-direction: column;
        padding: 10px 10px;
    }

    .Header-h1 {
        font-size: 14px;
    }
    
    .suggestion-card {
        padding: 5px;
    }

    .suggestion-username {
        font-size: 12px;
    }

    .suggestion-text {
        font-size: 10px;
    }

    .modal-content button {
        padding: 5px 5px;
    }

    .suggestion-vote button {
        padding: 5px 5px;
    }

    .suggestion-vote span {
        font-size: 10px;
    }

    .suggestion-card {
        padding: 5px;
    }

    .suggestion-username {
        margin-bottom: 5px;
    }

    .suggestion-text {
        margin-bottom: 5px;
    }

    .suggestion-vote {
        margin-top: 5px;
    }    
}

@media (min-width: 992px) {
    .links a {
        margin: 0 15px;
        font-size: 20px;
    }
}